<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Email Template</title>
</head>
<body>
    <h1>Hello, <span style="color: green;" th:text="${userName}"></span>!</h1>
    <p>We are from Eidiko .</p>
 </p> <h1> <span style="color: rgb(255, 0, 0);" th:text="${Message}"></span>!</h1>
    <p>Any Query Please Do Mail tthirumal24@gmail.com</p>
   <p> Follow instagram for Updates </p> <a href="https://www.instagram.com/thirumalesh_thirumal_/">Click here</a> to my websites
</body>
<footer><p>Thanks and Regards</p><br>
<p>Thirumalesh</p>
</footer>
</html>
